{% extends "base.html" %}
{% block content %}
<div class="jumbotron py-3">
    <div class="container">
    <h1>Bungalowpark Zee en Duin</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel nibh at purus ultrices sollicitudin et et leo. Etiam pellentesque nibh at lacus porta, non commodo nulla bibendum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed a cursus arcu. Donec fringilla tempor suscipit. Maecenas tristique convallis dolor, vitae facilisis ipsum eleifend eget. Morbi consectetur porttitor ipsum, eget rutrum orci dignissim in. Nullam ut neque facilisis, commodo purus sed, pretium leo.
        
        Cras posuere, dui quis pellentesque vehicula, elit sapien interdum augue, ut tristique sapien ex sed nunc. Aliquam eget metus et arcu porta sollicitudin. Vestibulum.</p>
    </div>
</div>
{% endblock %}
