{% extends "base.html" %}
{% block content %}
<div class="container">
    <form class="text-center mt-5" action="" method="post">
            <h1 class="h2 mb-4 font-weight-normal">login</h1>
                <div class="row justify-content-center">
                    <div class="form-group col-md-7">

                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                            <div class="alert alert-{{category}}">
                                {{message}}
                            </div>
                            {% endfor%}
                        {% endif%}
                        {% endwith %}

                        {{ form.hidden_tag() }}
                        
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid", autocomplete="off") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg", autocomplete="off") }}
                    {% endif %}
                    </div>
                </div>   
            <div class="row justify-content-center">
                <div class="form-group col-md-7 px-4">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid", autocomplete="off") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg", autocomplete="off") }}
                {% endif %}
                </div>
            </div>
            <div class="form-check">
                {{ form.remember(class="form-check-input")}}
                {{ form.remember.label(class="form-check-label mb-3")}}
            </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <div class="pt-3">
            <small class="text-muted">
                Don't have an account yet?<a class="ml-2" href="{{ url_for('main.registreren')}}">Register</a>
            </small>
        </div>
    </form>
</div>
{% endblock %}
